body
{
	width:600px;
	margin-right:auto;
	margin-left:auto;
}

#element_list input
{
	background:none;
	border:none;
}

#create_element_container{
	margin-top: 10px;
}

#authorizeButton{
	margin-top: 20px;
}