/* 
    Document   : my
    Created on : 13.06.2013, 15:31:17
    Author     : Philip
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    margin: 0px;
}

div.bubble {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #ff00ff
}
